.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}
.black-text {
	color: black;
}

* {
	background-color: rgb(65, 65, 65);
	color: white;
}

#wIcon {
	max-width: 10%;
}

ul {
	list-style-type: none;
}
